<h1>Book creation</h1>

<form novalidate action="{{ path('books_crud_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('books_crud') }}">
            Back to the list
        </a>
    </li>
</ul>
